body {
    background-color: #87A6FA;
}

header {
    text-align: center;
    color: white;
    font-size: 15pt;
}

section {
    font-size: 15pt;
    width: 500px;
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.473);
    margin: auto;
}

select {
    margin-bottom: 10px;
    padding: 10px;
}

footer {
    color: white;
    text-align: center;
    font-size: 15pt;
    margin-top: 10px;
}