html {
    padding: 0px;
    margin: 0px;
}
body {
    background-color: #282a36;
    text-align: center;
}

h1 {
    color: #8be9fd;
    font-size: 30pt;
}

section {
    color: #50fa7b;
    text-align: start;
    font-size: 15pt;
    padding: 15px;
    width: 500px;
    background-color: #6272a4;
    margin: auto;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.219);
}

select {
    display: block;
    margin-top: 10px;
    padding: 5px;
    text-align: center;
    width: 160px;
}

footer {
    margin: 15px;
    color: #8be9fd;
    font-size: 15pt;
}